$primary: #027d07;
$primary-light: #e6f2e6;
$primary-dark: #015805;
$secondary: #f2c94c;
$white: #fff;
$black: #000;
$text: #333333;
$background: #f2f2f2;
$light-text: rgba(0, 0, 0, 0.5);
$border-radius: 8px;
$border-color: #e2e2e2;
$range-bg: #e9ecef;
$transition-duration: 0.3s;
